<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/img/weather.png">

</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site is developed by Zaw. The data is from mapbox.</p>
		<img class="portrait" src="img/zmo.jpg">
	</div>
    {{>footer}}
</body>
</html>